<html>
<head>
<style>

</style>

<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

</head>

<body>

<p id="notice"><%= notice %></p>

<h1>Join a club</h1>

<%= form_tag(join_path, :method => "get", id: "search-form") do  %>
<%= text_field_tag :search, params[:search], placeholder: "Search Clubs" %>
<%= submit_tag "Search" %>
<% end %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Club Name</th>
			<th>Club Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- populate table with all clubs available in the application
		or after the search results -->
		<% @clubs.each do |club| %>
		<tr>
			<!-- flag used to check if the user already belongs to the club being listed -->
			<% already_member = false %>
			<% @user_clubs.each do |user_club| %>
				<% if club.id == user_club.club_id %>
					<% already_member = true %>
				<% end %>
			<% end %>
			<td><%= link_to club.name, club_path(club.id) %></td>
			<td><%= club.description %></td>
			<td>

			<!-- if the user is not a member of the club, provide a button for the user to 
			request to join the club -->
			<% if already_member %>
				already joined
			<% else %>
				<%= button_to 'Join', {:controller => "memberships", :action => "create", :membership => {:club_id => club.id,  :user_id => current_user.id, :approved => false}}, :method => "post" %>
			<% end %>	

			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to 'Back', :back %>
</body>
</html>