<html>
<head>
<style>
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>

<p>
<div class = "menu">
	<ul>
		<% if @club.admin_id == current_user.id %>
			<li><%= link_to 'Edit', edit_club_path(@club) %></li>
		<% end %>
		<li><%= link_to 'Events' %> </li>
		<li><%= link_to 'Blog' %> </li>
	</ul>
</div>
</p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
 <br>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<h2>Club Members</h2>
	<%= render 'member_list_user' %>
<br>


</body>
</html>
