<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendee.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attendee.event %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @attendee.attending %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
