<html>
<head>
<style>



</style>
</head>
<body>

<!-- <div class = "menu"> -->
	<ul class="menu2">
		<li class="menu2_link"><%= link_to 'Create Club', new_club_path %></li>
		<li class="menu2_link"><%= link_to 'Join Club', join_path %> </li>
	</ul>

<p id="notice"><%= notice %></p>

<!-- ## display list of clubs that a user belongs to
## otherwise  display message saying that there are no clubs to display-->
<% if @club_users.count('id') > 0 %>
	<h2>My Clubs</h2>

	<table class="table table-striped">
		<thead class="thead-inverse">
			<tr>
				<th>Club Name</th>
				<th>Status</th>
				<th>Role</th>
				<th colspan="1"></th>
			</tr>
		</thead>
		<tbody>
			<% @club_users.each do |club_user| %>
			<tr>
				<td class="table-link"><%= link_to club_user.name, club_path(club_user.id) %></td>
				<td>
					<!-- logic to populate the status coloum
					if member has not been approved it displays a message
					saying pending aproval -->
					<% if club_user.approved == 't' %>
						Active
					<% else %>
						<% if club_user.incoming == 'f' %>
							Pending Aproval
						<% else %>
							Pending User's Aproval
						<% end %>
					<% end %>
				</td>
				<td>
					<!-- logic to populate the Role column -->
					<% if club_user.admin_id == current_user.id %>
						Admin
					<% else %>
						Member
					<% end %>
				</td>
				<td>
				<% if club_user.incoming == 't' && club_user.approved == 'f' %>

					<div style="float:left; width:auto;padding-right: 15px">
					<%= button_to 'Accept', {:controller => "memberships", :action => "accept_invite", :membership => {:club_id => club_user.id,  :user_id => club_user.user_id, :approved => true, :incoming => false}, :club_name => club_user.name}, :method => "put"  %> </div>
					<div style="">
					<%= button_to 'Reject', {:controller => "memberships", :action => "deny_invite", :id => club_user.memberships_id}, :method => "delete" %>   </div>
				<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p> You are currently not a member of any club.  Use the links above to either start a new club or join an existing club. 
	</p>
<% end %>
<br>

</body>
</html>
