<html>
<head>
<style>

</style>
</head>
<body>

<ul class="menu2">
  <li class="menu2_link"><%= link_to 'Events', controller: "events", action: "index", id: @event.club_id%> </li>
  <% if @club.admin_id == current_user.id %>
    <li class="menu2_link"><%= link_to 'Edit', edit_event_path(@event)%></li>
    <!-- <li class="menu2_link"><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    </li>
  <% end %>
</ul>


<p id="notice"><%= notice %></p>

<p>
  <strong>Eventname:</strong>
  <%= @event.eventName %>
</p>

<p>
  <strong>Eventlocation:</strong>
  <%= @event.eventLocation %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventDate.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Eventtime:</strong>
  <%= @event.eventTime.strftime("%l:%M%P") %>
</p>

<p>
  <strong>Eventinfo:</strong>
  <%= @event.eventInfo %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @attendees_count %>
</p>
<br>
<% if @response.blank? %>
  Will you be attending this event?  
  <p>
  <div style="float:left; width:auto;padding-right: 15px">
  <%= button_to 'Yes', {:controller => "attendees", :action => "create", :attendee => {:user_id => current_user.id,  :event_id => @event.id, :attending => true}}, :method => "post" %> </div>
  <div style="">
  <%= button_to 'No ' , {:controller => "attendees", :action => "create", :attendee => {:user_id => current_user.id,  :event_id => @event.id, :attending => false}}, :method => "post" %>
  </div>
  </p>
<% else %>
  <% if @response.attending? %>
  <div class="">
    <p> You are currently attending this event. Would you like to change your response?
      <div style="float:left; width:auto;padding-left: 0px">
      <%= button_to 'Yes', {:controller => "attendees", :action => "update", :attendee => {:user_id => current_user.id,  :event_id => @event.id, :attending => false}}, :method => "put" %> </div>
    </p>
  </div>
  <% else %>
  <!-- <div class="well pull-left inline"> -->
    <p> You are currently not attending this event. Would you like to change your response? 
    <div style="float:left; width:auto;padding-left: 0px">
    <%= button_to 'Yes', {:controller => "attendees", :action => "update", :attendee => {:user_id => current_user.id,  :event_id => @event.id, :attending => true}}, :method => "put" %> </div>
    </p>
    <!-- </div> -->
    </p>
  <% end %>
<% end %>
<br>
<p></p>
<% if @attendees_count > 0 %>
  <h1>Listing Attendees</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Member Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.user.firstName %> <%= attendee.user.lastName %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


</body>
</html>